# Ignore the following paths:

.vs/
.vscode/
.idea/

[Aa]ssets/
[Bb]in/
[Bb]uild/
[Dd]rafts/
[Ll]ib/
[Ll]og/
[Oo]ut/
[Pp]ack/
[Pp]rofiling/
[Ss]creenshots/
[Ss]ource/
[Tt]ools/

![Ss]ource/Arclight/

!Assets/logo.bmp
!Assets/logo.ico
!Assets/cursor.bmp

arclight.modules
buildsys.txt
.editorconfig
imgui.ini
CMakeSettings.json
*.user
*.bak
