# Ignore the following paths:

.vs/
.vscode/
[Oo]ut/
[Bb]in/
[Bb]uild/
[Ll]og/
[Ll]ib/
profiling/
assets/
screenshots/
.idea/
pack/
src/*
!src/arclight/
arclight.modules
tools/axrconv/b*
tools/axrconv/AXRConv/*/*
!tools/axrconv/AXRConv/shaders/*
!tools/axrconv/AXRConv/*
*.user
.editorconfig
imgui.ini
CMakeFiles/
dev/
examples/
demo/
!assets/logo.bmp
!assets/logo.ico