# Ignore the following paths:

.vs/
.vscode/
[Oo]ut/
[Bb]in/
[Bb]uild/
[Ll]og/
[Ll]ib/
profiling/
assets/
screenshots/
.idea/
pack/
tools/axrconv/b*
tools/axrconv/AXRConv/*/*
!tools/axrconv/AXRConv/shaders/*
!tools/axrconv/AXRConv/*
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
*.user
.editorconfig
